*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 10px;
  display: block;
  float: inherit;
}

div {
  background-color: #dadada;
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
  float: left;
}

.container {
  background-color: #dadada;
  width: 85%;
  display: block;
  margin: 50px auto;
  padding: 0px;
  overflow: auto;
}

.previewbaku {
  background-image: url("../images/baku.jpg"); /* always use the .. (signifies its connection to the root) when working with images saved locally/on your comp */
  background-size: cover;
  background-repeat: no-repeat;
}

.previewlondon {
  background-image: url("../images/london.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.previewmadrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.previewrome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  padding: 15px;
  font-size: 2em;
  font-family: sans-serif;
  color: #000;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

div > h1 {
  font-size: 1.5em;
  font-family: serif;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: normal;
  color: #000;

}

/* two-column design for tablets */
@media screen and (min-width: 575px) {
    body {
      margin: 20px;
    }

    h1{
      font-size: 1.2em;
    }
    div {
      margin: 1%;
      width: 48%;
    }
}

/*four-column design for laptops: to get the smaller boxes, the width should be around 1/4 of 100%, with four images this makes it easier for them to be 1x4 vertically */
@media screen and (min-width: 991px) {
    h1{
      font-size: 2em;
    }
    div {
      margin:.5%;
      width: 24%;
    }
}
